

.main {
    margin: var(--header-height) 0 0 0;
    padding: 1rem 1rem 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    /* background-color: var(--body-color); */
    color: var(--text-color);
    /* height: 100vh; */
    /* border: 1px solid red; */
    /* margin-block-start: 65px; */
}


.link{
    text-decoration: none;
    color: var(--text-color);
    font-family:'Montserrat', sans-serif;
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    padding:0 1rem;
    z-index: var(--z-fixed);
    width: 100%;
}

.header_container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
}

.header_img {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img {
    border-radius: 50%;
}


.header_logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: none;
}

.header_toggle{
    cursor: pointer;
    color: var(--title-color);
    font-size: 1.2rem;
}

/* sidebar */
.nav {
    position: fixed;
    padding: 13px 15px;
    top: 0;
    left: -100%;
    height: 100vh;
    background-color: var(--container-color);
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    z-index: var(--z-fixed);
    transition: .4s ease;
}

.nav_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav_container::-webkit-scrollbar {
    display: none;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.nav_logo {
    font-weight: var(--font-semi-bold);
    display: inline-flex;
    gap: 2px;
    justify-items: center;
    align-items: center;
}

.nav_list, .nav_items {
    display: grid;
}

.nav_list {
    row-gap: 2.5rem;
}

.nav_items {
    row-gap: 1.5rem;
}

.nav_subtitle {
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--text-light-color);
}

.nav_link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 5px;
}


.nav_link:hover {
    color: var(--first-color);
}

.nav_icon {
    font-size: 1.2rem;
}

.nav_name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.nav_dropdown_icon{
    margin-left: auto;
 }

.nav_logout {
    margin-top: 5rem;
}

/* dropdown */
.nav_dropdown {
    overflow: hidden;
    max-height: 21px;
    transition: 4s ease-in-out;
}

.nav_dropdown_collapse {
    background-color: var(--first-color-light);
    margin-top: 1rem;
    border-radius: .25rem;
}

.nav_dropdown_content {
    display: grid;
    row-gap: .5rem;
    padding: 0.75rem 2.5rem .75rem 1.8rem;
}


.nav_dropdown_item {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    transition: .42 ease-in-out;
}

.nav_dropdown_item:hover{
    color: var(--first-color);
}

/* show collapse */
.nav_dropdown:hover{
    max-height: 100rem;
}

.nav_dropdown:hover .nav_dropdown_icon{
    transform: rotate(180deg);
}

/* show menu */
.show_menu {
    left: 0;
}

/* card */
.card {
    padding: 40px;
    box-shadow: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
    border-radius: 10px;
    text-align: center;
}

.card_text {
    color: rgb(214, 54, 54);
    font-size: 1.2rem;
    margin-block-end: 15px;
}

.task_card {
    padding: 20px;
    box-shadow: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
    border-radius: 10px;
    text-align: center;
}

.task_card:hover {
    box-shadow: 0 0 0 0.05rem hsla(180, 49%, 91%, 0.08), 0 0 1.25rem hsla(210, 8%, 85%, 0.06);
}   

.link {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card_link {
    background-color: rgb(201, 201, 216);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    transition: .5s ease;
}

.card_link:is(:focus-visible, :hover) {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.section {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.section {
    margin-block-start: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.pending_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.title {
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    color: var(--title-color);
}

.green {
    text-transform: uppercase;
    color: green;
}

.grey {
    text-transform: uppercase;
    color: grey;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    place-content: center;
}

.card_section {
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    justify-content: center;
    text-align: center;
    width: 100%;
}


.pending {
    margin-block-start: 20px;
    margin-block-end: 20px;
    border-bottom: 1px solid hsla(214, 88%, 27%, 0.08);
    width: 100%;
    padding: 10px;
}

.pending h1 {
    box-shadow: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
    border-radius: 5px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* .link {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow:  0 5px 9px rgba(39,44,68,.1);
} */

.content {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}



.relieve_container {
    grid-column: span 2;
    margin-block-start: 10px;
}

.relieve_container h1 {
    font-weight: 600;
    align-items: center;
}

.relieve_content_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap according to your design */
    grid-column: span 2;
  }

  .fullWidth {
    grid-column: span 2; /* Make the first element span the entire row */
  }

.relieve_card {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.relieve_card_header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.relieve_card_content {
    padding: 40px;
}

.relieve_card_details {
    margin-bottom: 15px;
    display: inline-flex;
    gap: 10px;
}

.relieve_card_span {
    color: #3498db;
    font-weight: 700;
}




/* media query */
@media screen and (min-width: 500px) {
    .main {
        padding: 1rem 3rem 0 6rem;
    }

    .container {
        width: 100%;
    }

    .header {
        padding: 0 3rem 0 6rem;
    }
    
    .header_container {
        height: calc(var(--header-height) + .5rem);
    }

    .header_toggle {
        display: none;
    }

    .header_logo {
        display: block;
        font-size: 1.4rem;
    }

    .header_img {
        width: 40px;
        height: 40px;
        order: 1;
    }

    .section {
       display: grid;
       grid-template-columns: 1fr;
    }

    .pending_section {
        margin-top: 10px;
        display: grid;
        flex-direction: 1fr 1fr;
    }

    .card {
        padding: 80px;
    }

    .nav {
        left: 0;
        padding: 1.2rem 1.5rem 3rem;
        width: 68px;
    }

    .nav_items {
        row-gap: 1.7rem ;
    }

    .nav_logo_name, .nav_name, .nav_subtitle, .nav_dropdown_icon {
        opacity: 0;
    }

    .nav:hover {
        width: var(--nav-width);
    }
    
    .nav:hover .nav_logo_name {
        opacity: 1;
    }

    .nav:hover .nav_subtitle {
        opacity: 1;
    }

    .nav:hover .nav_name {
        opacity: 1;
    }

    .nav:hover .nav_logo_name {
        opacity: 1;
    }

    .nav:hover .nav_dropdown_icon {
        opacity: 1;
    }
}