.leave {
    padding-top: 20px;
    width: 100%;
    background-color: #f4f4f4;
    height: 150vh;
}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_input {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form_input label {
    font-size: 1.2rem;
    font-weight: 500;
}

.form_control {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

.form_control > :nth-child(3) {
  grid-column: span 2; /* Span two columns */
}

.form_input input {
    padding: 10px 30px;
    outline: 2px solid #F2FFE9;
    border-radius: 5%;
    transition: .5s ease;
}

.form_input input:hover {
    box-shadow: 0px 4px 6px 0px rgba(115, 129, 129, 0.75);
}


.form_date {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_date label {
    font-size: 1.2rem;
    font-weight: 500;
}

.form_date input {
    cursor: pointer;
}


.form_date input {
    background-color: transparent;
    transition: .4s ease;
    border: 1px solid #F1EAFF;
    padding: 2px 5px;
}

.form_date input:hover {
    background-color: #F1EAFF;
    border: 1px solid #F1EAFF;
}


.btn {
    margin: auto;
    margin-block-start: 15px;
}

.btn button {
    border: 1px solid #F1EAFF;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #363062;
    transition: 0.5s ease;
    color: white;
}

.btn button:hover {
    background-color: black;
    color: white;
}

.input_text textarea {
    border: 2px solid #363062;
    border-radius: 5px;
}