.appr {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;
}

.btn {
    display: flex;
    gap: 5px;
}


.btn button:nth-child(2) {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}

.btn button:nth-child(1) {
    background-color: #ce2727; /* Green */
    border: none;
    color: white;
    padding: 6px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}


.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .label {
    display: block;
    margin-bottom: 8px;
  }

  .textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical; /* Allow vertical resizing of the textarea */
  }

  .button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .grey {
    background-color: #373f37;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .button:hover {
    background-color: #45a049;
  }


  